body {
    background-color: #1C1C1C;
    color: #B89076;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    padding: 20px;
}

.banner {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5vw;
    font-style: oblique;
    margin-bottom: 20px;
}

.banner2 {
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 20px;
}

.terminal {
    width: 100%;
    padding: 10px;
}

form {
    width: 100%;
    padding: 10px;
    display: flex; /* Keep the original flex direction */
}

form input {
    flex: 1; /* Allow input to grow to fill available space */
    height: 30px;
    margin-right: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    outline: none;
    background-color: #1C1C1C;
    color: #73ABAD;
}

@media (max-width: 768px) {
    .main {
        max-width: 90%;
    }

    .banner {
        font-size: 3vw;
    }

    .banner2 {
        font-size: 1.5vw;
    }

    form input {
        width: calc(100% - 15px);
    }
}

@media (max-width: 576px) {
    .main {
        max-width: 100%;
    }

    .banner {
        font-size: 4vw;
    }

    .banner2 {
        font-size: 2vw;
    }

    form input {
        width: calc(100% - 10px);
    }
}
