<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main">
        <div class="banner">
            <pre>
    _        _           
    / \   ___| |__  _   _ 
   / _ \ / __| '_ \| | | |
  / ___ \\__ \ | | | |_| |
 /_/   \_\___/_| |_|\__,_|
            </pre>
        </div>
    
            <div class="banner2"> <p class="text">Welcome to my portfolio terminal!</p>
                <p class="text">Type a <span class="cmd">'help'</span>, For availble commands list.</p>
            <hr></div>
       

   
    <div class="terminal" for="cmd">
        
      
        
    </div>
    <form id="form">
        <label for="cmd" class="head">ashu~$</label>
        <input type="text" id="cmd" class="cmd" name="cmd" autocomplete="off" autocapitalize="off">
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</div>


</body>
</html>
